body {
  margin: 0;
  padding: 0;
}

.center-container {
  margin: 12px 24px;
  padding: 12px;
  width: calc(100% - 48px); /* Resta los márgenes izquierdo y derecho */
  border-radius: 2px;
  border: 4px solid black;
}

.lateral-container {
  position: static;
  width: calc(100% - 48px); /* Igual que arriba */
  height: auto;
  border: 4px solid black;
  margin: 12px 24px;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .center-container {
    margin-left: calc(400px + 36px); /* Ancho del lateral + márgenes */
    margin-right: 24px;
    width: calc(100% - 400px - 60px); /* Ajuste para el ancho y márgenes */
    padding: 12px;
  }

  .lateral-container {
    position: fixed;
    top: 12px;
    bottom: 12px;
    left: 24px; /* Mantiene el margen izquierdo */
    width: 400px;
    box-sizing: border-box;
    margin: 0; /* Elimina márgenes porque ahora es fixed */
  }
  
  /* Ajuste para la columna invisible de Bootstrap */
  .d-none.d-lg-block {
    width: 0px !important; /* 400px + 24px de margen */
  }
}